.App {
  text-align: center;
  margin: 0 auto;
}
/* html {
  background-color: #1DA1F2;
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login{
  max-width: 920px;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  height: 500px;
  background-color: #fff;
  margin-top: 50px;
}
.img-login{
  background-image: url(https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=800&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYyODQyNDE1NA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=600);
    height: 500px;
    float: left;
    width: 449px;
    background-position: center;
    background-size: cover;
}
.form-login{
  width: 360px;
  float: right;
  padding: 50px;
  text-align: left;
}
.logo_login{
  font-family: 'Forte';
  font-size: 50px !important;
}
input{
  height: 40px;
  width: 90% ;
  padding: 5px 15px 0px 15px;
  margin: 10px 0px 3px 0px;
}
button.button-login{
  width: 100%;
  height: 40px;
  background-color: #1DA1F2;
  color: white !important;
  font-weight: 600;
  border:none;
  border-radius: 25px;
  margin-top: 20px;
}
button.button-login:hover{
  width: 100%;
  height: 40px;
  color: #1DA1F2 !important;
  background-color: white !important;
  font-weight: 600;
  border:solid 1px #1DA1F2;
  border-radius: 25px;
}
small.help.is-danger{
  color: red;
}
.title_login{
  color:#1DA1F2 ;
  font-weight: 600;
}


/* //Card */
.background-card{
  background-color: white;
  padding: 30px;
  border-radius: 13px;
  margin: 0 auto;
  max-width: 900px;
  /* box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%); */
  /* transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}
.Card{
  /* max-width: 750px; */
  /* text-align: center; */
  margin: 0 auto;
  border-bottom: solid 1px #d2d1d3;
  height: 210px;
  padding: 30px;
  
}
.Card-left{
  float: left;
  width: 120px;
  margin-right: 30px;
  
}
.Card-left__img{
  width: 100%;
  border-radius: 11px;
  height: 120px;
}
.Card-right{
  float: right;
  width: 600px;
  text-align: left !important;
  

}
.Card-right__username{
  font-weight: 400;
  color: #927b7b;
}
.Card-right__infor{
  color: #ccd0d5;
  font-weight: 600;
}
.Card-right__gender {
  font-weight: 600;
}
a{
  text-decoration: none !important;
 
}
h2 {
  margin: 0 0 5px 0
}
h2 a{
  margin: 0 0 5px 0 !important;
  padding: 0;
  color: #1DA1F2 !important;
}

.btn_previousPage,.btn_nextPage{
  border: solid 1px #1DA1F2;
  background-color: #1DA1F2;
  color: #fff;
  padding: 10px;
  margin: 10px 10px 0 0;
  border-radius: 10px;
  WIDTH: 100PX;
  font-weight: 700;
  outline: none;

}
.btn_nextPage:hover{
  border: solid 1px #1DA1F2;
  color: #1DA1F2;
  background-color: #fff;
  padding: 10px;
  margin: 10px 10px 0 0;
  border-radius: 10px;
  outline: none;
  
}
.btn_previousPage:hover{
  border: solid 1px #1DA1F2;
  color: #1DA1F2;
  background-color: #fff;
  padding: 10px;
  margin: 10px 10px 0 0;
  border-radius: 10px;
}
@media only screen and (max-width: 600px) {
  .Card {
    min-height: 300px;
    padding: 10px;
    border-bottom: none !important;

    }
  .Card-left{
    width: 120px;
    margin-top: 10px !important;
  }
  .Card-right{
    width: 100%;
  }
  
  .Card-right__descridivtion{
    text-align: left !important;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: solid 1px #d2d1d3;
  }
}
@media only screen and (max-width: 870px) {
  .Card {
    min-height: 300px;
    padding: 15px;
    border-bottom: none !important;

    }
  .Card-left{
    width: 120px;
    margin-top: 10px !important;
  }
  .Card-right{
    width: 100%;
  }
  
  .Card-right__descridivtion{
    text-align: left !important;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: solid 1px #d2d1d3;
  }
}
@media only screen and (max-width: 430px) {
  .background-card{
    padding: 10px !important;
  }
  .Card {
    /* width: 100%; */
    /* height: auto; */
    border-bottom: none !important;
    margin: 0px !important;
    padding: 0px !important;
  }
  .Card-left{
    width: 120px;
    height: 120px;
  }
  .Card-right{
    width: 100%;
  }
  .Card-right__descridivtion{
    text-align: left !important;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: solid 1px #d2d1d3;
  }
}
/* menu */
.logo{
  font-family: 'Forte';
  font-size: 30px !important;
}
.navbar {
  overflow: hidden;
    background-color: #333;
    max-width: 935px;
    margin: 0 auto;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.NavLink{
  padding: 24px 16px !important;
}
.dropdown {
  float: right;
  overflow: hidden;
  margin: 0 10px 0 0;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 18px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar .NavLink:hover, .dropdown:hover .dropbtn {
  background-color: #1DA1F2;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content button {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: transparent !important;
  border: none;
}

.dropdown-content :hover {
  background-color: #ddd;
  color: #1DA1F2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* //BREEDS */ 
.dropdown_breeds {
  float: LEFT;
  overflow: hidden;
  margin: 0 10px 0 0;
}
.dropdown_breeds .dropbtn_breeds {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  padding: 25px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar .NavLink:hover, .dropdown_breeds:hover .dropbtn_breeds {
  background-color: #1DA1F2;
}

.dropdown-content__breeds {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content__breeds a {
  
  color: black !important;
  font-weight: 600;
}

.dropdown-content__breeds :hover {
  background-color: #ddd;
  color: #1DA1F2 !important;
}

.dropdown_breeds:hover .dropdown-content__breeds {
  display: block;
}
i.fa.fa-user-circle{
  font-size: 35px;  
}
